.experience {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.experience:hover {
  transform: translateY(-7px);
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.5em;
}

/* li::before {
  content: "#";
  color: white;
} */


.experience__description {
  margin-top: 1em;
  /* text-align: left; */
}

.experience__designation {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
