@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


body {
  background: #f5f0e1;
  font-family: "Lato", sans-serif;
}

.font_1_5 {
  font-size: 1.5rem;
}

.font_2 {
  font-size: 2rem;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,110,64, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 767px) {
  .margin_left_sidebar_width {
    margin-left: 22em;
  }
}

