<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <h1>Contact Me</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4>Please reach out to me</h4>
    </div>
  </div>
  <div class="row mb-3">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Email</td>
          <td>
            <a
              target="_blank"
              href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&su=Hi Sandeep&to=chikhale.sandeep.2002@gmail.com"
            >
              chikhale.sandeep.2002@gmail.com
            </a>
          </td>
        </tr>
        <tr>
          <td>LinkedIn</td>
          <td>
            <a href="https://www.linkedin.com/in/sandeep-chikhale/">
              https://www.linkedin.com/in/sandeep-chikhale/
            </a>
          </td>
        </tr>
        <tr>
          <td>Github</td>
          <td>
            <a href="https://github.com/Sandeep3005">
              https://github.com/Sandeep3005
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
