<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <!-- Timeline -->
      <ul class="timeline">
        <li class="timeline-item rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">
            <a href="https://www.barclays.in/global-service-centre/btci/"
              >Barclys Global Service Center, Pune India</a
            >
          </h2>
          <span class="small"
            ><i class="fa fa-clock-o mr-1"></i>2019 - Present</span
          >
          <p class="text-small mt-2 font-weight-light">
            Working with Barclays - Global banking solution for last few years.
          </p>
        </li>
        <li class="timeline-item rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">
            <a href="https://www.saleshandy.com/"
              >Saleshandy, Ahemdabad India</a
            >
          </h2>
          <span class="small"><i class="fa fa-clock-o mr-1"></i>2018</span>
          <p class="text-small mt-2 font-weight-light">Chrome Extension</p>
          <p class="text-small mt-2 font-weight-light">
            The extension binds with Gmail and enhances Gmailwith features like
            email tracking, emailtemplating, file sharing, and many others
          </p>
          <div>
            <img class="portfolio-img" src="./assets/portfolio/sh_1.png" />
          </div>
          <p class="text-small mt-2 font-weight-light">
            saleshandy Email tracking website
          </p>
          <p class="text-small mt-2 font-weight-light">
            The extension binds with Gmail and enhances Gmailwith features like
            email tracking, emailtemplating, file sharing, and many others
          </p>
          <div>
            <img class="portfolio-img" src="./assets/portfolio/sh_1.png" />
          </div>
        </li>
        <li class="timeline-item rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Knotel.com</h2>
          <span class="small text-gray"
            ><i class="fa fa-clock-o mr-1"></i>2016 - 2017</span
          >
          <p class="text-small mt-2 font-weight-light">
            Meteor + ReactJS based web app which facilitates rentingand buying
            of office space.
          </p>
          <div>
            <img class="portfolio-img" src="./assets/portfolio/sh_2.png" />
          </div>
        </li>
      </ul>
      <!-- End -->
    </div>
  </div>
</div>
