<div class="sidebar-section">
  <section class="center-section avatar" routerLink="/">
    <ngx-avatar size="200" src="assets/sandeep_img.jpg"></ngx-avatar>
  </section>
  <section class="center-section name">SANDEEP CHIKHALE</section>
  <section class="center-section post">FULL-STACK SOFTWARE DEVELOPER</section>
  <section class="links">
    <a class="link-single" routerLink="/portfolio">PORTFOLIO</a>
    <a class="link-single" routerLink="/resume">RESUME</a>
    <a class="link-single" routerLink="/contact">CONTACT ME</a>
  </section>
  <section class="get-in-touch">GET IN TOUCH</section>
  <section class="social-icons-section">
    <a href="">
      <img class="img-social-link" src="assets/github.png" alt="Github" />
    </a>
    <a href="">
      <img class="img-social-link" src="assets/gmail.png" alt="Gmail" />
    </a>
    <a href="">
      <img class="img-social-link" src="assets/linkedin.png" alt="LinkedIn" />
    </a>
  </section>
</div>
