<div class="pdf-wrapper">
  <div class="link-single">
    <a
      class="link-single"
      download="Resume-Main.pdf"
      target="_blank"
      href="./assets/Resume-Main.pdf"
    >
      DOWNLOAD
    </a>
  </div>
  <div class="row mt-2 resume-image">
    <div class="col-1"></div>
    <div class="col-10">
      <img class="img-fluid" src="./assets/Resume-Main-1.jpg" />
      <img class="img-fluid mt-1" src="./assets/Resume-Main-2.jpg" />
      <img class="img-fluid mt-1" src="./assets/Resume-Main-3.jpg" />
    </div>
    <div class="col-1"></div>
  </div>
</div>
