/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.sidebar {
  background-color: #5e3f6d;
  height: 100vh;
}
body {
  margin: 0;
  background-color: #24292d;
  color: whitesmoke;
  background-position: center;
  font-family: 'Hammersmith One', sans-serif;
}
html, body { height: 100%; }
