
.wrapper {
  height: 100px;
}

.reach_icon {
  height: 35px;
}

.links {
  color:black;
}

.single-link-container {
  margin-bottom: 1vh;
  margin-left: 0%;
  transition: all 0.5s ease-in-out;
  width: fit-content;
}

 .links:visited, .links:active, .links:hover, .links:focus {
  text-decoration: none;
  color:black;
}

.content-info-display {
  position: relative;
  top: 300%;
  left: 20%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding: 10px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.content-info-display:hover {
  box-shadow: 25px 5px 10px rgb(0,0,0);
  transition: box-shadow 0.5s ease-out;
  width: 50%;
}

#name {
  font-size: 38px;
  margin-bottom: -7px;
}

#title {
  font-size: 24px;
  margin-bottom: 18px;
}

#github_icon:hover {
  margin-left: 2%;
  transition: margin-left 0.5s ease-out;
}

#upwork_icon:hover {
  margin-left: 2%;
  transition: margin-left 0.5s ease-out;
}

#gmail_icon:hover {
  margin-left: 2%;
  transition: margin-left 0.5s ease-out;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /*Set as background*/
  z-index: -10;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}